.apply_description{
  background: url("../../assets/images/bg_apply_ds.png");
  color: white;
  font-size: 35px;
  height: 300px;
  text-align: left;
  padding-top: 50px;
}
.apply_description_container{
  height: 220px;
  width: 800px;
  margin-left: 100px;
}
.apply_description_name{
  height: 110px;
}
.apply_description_detail{
  height: 110px;
  font-size: 20px;
}
